.bg-img1 {
  background-color: #000;
  background-size: cover;
  background-image: linear-gradient(
      to right,
      rgba(124, 130, 135, 0.343),
      rgba(118, 121, 124, 0.5)
    ),
    url(/image/marita-kavelashvili-ugnrXk1129g-unsplash.jpg);
  height: 100vh;
}
.bg-img2 {
  background-color: #000;
  background-size: cover;
  background-image: linear-gradient(
      to right,
      rgba(124, 130, 135, 0.343),
      rgba(118, 121, 124, 0.5)
    ),
    url(/image/sergei-a--heLWtuAN3c-unsplash.jpg);
  height: 100vh;
}
.bg-img3 {
  background-color: #000;
  background-size: cover;
  background-image: linear-gradient(
      to right,
      rgba(124, 130, 135, 0.343),
      rgba(118, 121, 124, 0.5)
    ),
    url(/image/steven-kamenar-MMJx78V7xS8-unsplash.jpg);
  height: 100vh;
}
